{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content
%}
<h1 align="center">Welcome!</h1>

<p style="font-family:verdana">This website is for presenting my research in building energy simulation model calibration. This research is a join work with Cheoljoon Jeong, Prof. Eunshin Byon and Prof. Kristen Cetin. It is supported
by National Science Foundation (“Grant #: CMMI-1662553, CBET-1804321).</p>
<p style="font-family:verdana">After you sign up and login in, you can go to the <a href="/simulation">'simulation'</a> page to know more about what building energy simulation model is and run your demo simulation. And in the <a href="/optimization">'optimization'</a> page,
    you will see the details of algorithms and techniques we have tried in model calibration, and pros and cons of each of them.</p>
<p style="font-family:verdana">Part of our result has been published in IISE 2021 annual conference and selected as a finalist of Data Analytics track. We are working on a journal paper right now.
When the work is published, we will open all the codes. </p>
<p style="font-family:verdana">If you have any further concern, please don't hesitate to contact me via <a href="mailto:xuziang@umich.edu">xuziang@umich.edu</a>. Thank you for your time and interest to be here! Have a good time!</p>
{% endblock %}
